@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
#header_div {
    width: 100%;
    height: 40px;
}
#RegisterBtn {
    height: 60px;
    padding: 20px;
    font-size: 16px;
}
#LoginBtn {
    height: 60px;
    padding: 20px;
    font-size: 16px;
}
#ProfileBtn {
    height: 60px;
    padding: 20px;
    font-size: 16px;
}