<div id="end">
  <div id="end1">
  <h3>WHO WE ARE ??</h3>
      <p><b>RAHUL ACADEMY</b> is one of the fastest growing academy in <b>Greater Noida</b> in the field of Education, We are dedicated to provide
          best facilities to students. We are also working in extra fields to coprate by giving our 100% effort to our students. We heartly invite you 
          for a free visit. Thankyou.</p>
      <br/></div>
  <div id="end2">
          <h3>GET SUPPORT HERE</h3>
          <a href="#"><p id="endp2"><span class="fa fa-envelope-o fa-2x"></span>&nbsp;&nbsp;&nbsp;rahulmah438@gmail.com</p></a><br/>
          <p id="endp2"><span class="fa fa-mobile fa-2x"></span>&nbsp;&nbsp;&nbsp;+91 9458485085</p><br/>
          <p id="endp2"><span class="fa fa-mobile fa-2x"></span>&nbsp;&nbsp;&nbsp;+91 9582743185</p><br/>
          <a href="#/"><p id="endp2"><span class="fa fa-facebook-official fa-2x"></span>&nbsp;&nbsp;www.facebook.com\rahul438</p></a><br clear="all"></div>
  <div id="end3">
      <h3 id="endh3">DEVELOPER</h3>
                                      Rahul Maheshwari, <br/>Galgotias University<br/>
                                      <br> CONTACT ME<br/>
                                      +91 9458485085<br/>
                                      & +91 9582743185
<br/></div>
</div>
<div id="homefinal">
<div id="homefinal1">
  <ul id="finalul">
              <li (click)='Register()'><a><b>REGISTER</b></a></li>
              <li (click)='Login()'><a><b>SIGN IN</b></a></li>
              <li (click)='Profile()'><a><b>VIEW PROFILE</b></a></li>
</ul></div>
<div id="homefinal2">
<p id="endp2" ><b>R@hul Ac@demy</b>&nbsp;<i class="fa fa-copyright"></i>&nbsp;All rights reserved</p>
</div>    
  </div>
