#main {
    background-color: #474e5d;
    height: 400px;
    padding: 30px;
    text-align: center;
}
#SignupBtn {
    border: 2px solid rgb(39, 204, 44);
    background-color: rgb(39, 204, 44);
    border-radius: 20px;
    color: white;
    padding: 15px;
    cursor: pointer;
    width: 400px;
    font-size: 20px;
}
/* #SignupBtn ng-mouseover {
    /* border: 2px solid rgb(39, 204, 44); 
    background-color: green;
    color: white;
    opacity: 1;
    font-size: 20px;
    width: 400px;
} */
